<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RMan3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AA7446A1EE3068B0007D946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA744801EE3068C0007D946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA7448B1EE3068C0007D946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
